.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2.5rem;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 1000;
}
.logo {
      width: 100px;
}

.signInBtn {
      padding: 0.5rem 1.5rem;
      background-color: #e50914;
      border: none;
      border-radius: 4px;
      color: #fff;
}
